*{
    margin: 0;
    padding: 0;
}
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.tile{
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tile:hover{
    border: 1px solid black;
}
.game{
    width: 30rem;
    height: 30rem;
    display: grid;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
img{
    width: 80%;
}

a{
    font-size: 5rem;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
h1{
    font-size: 5rem;
    font-family: sans-serif;
    color: white;
    font-family: sans-serif;
}